
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>QR Dashboard</h1>

<a href="/qr/generate">Generate QR</a>
<a href="/logout">Logout</a>

<table>
<tr>
<th>Text</th>
<th>Scans</th>
<th>Date</th>
</tr>

<% qrs.forEach(q=>{ %>

<tr>
<td><%= q.text %></td>
<td><%= q.scanCount %></td>
<td><%= q.createdAt.toDateString() %></td>
</tr>

<% }) %>

</table>

</body>
</html>
